.productdetails_header1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

@media (max-width: 430px) {
  .productdetails_header1 {
    font-size: 1.7rem;
    text-align: center;
  }
}

.productdetails_parent {
  display: flex;
  justify-content: center;
}

.productdetails_card {
  max-width: 800px;
  min-width: 800px;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 430px) {
  .productdetails_card {
    min-width: 90%;
    max-width: 90%;
    margin-bottom: 2rem;
  }
}

.productdetails_parents {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.productdetails_imagediv img {
  max-width: 200px;
  min-width: 200px;
}

.productdetails_textdiv h5 {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.productdetails_productid {
  font-size: 1.1rem;
  margin-right: 10px;
  font-weight: 600;
  user-select: none;
}

@media (max-width: 430px) {
  .productdetails_parents {
    flex-direction: column;
  }
  .productdetails_textdiv h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .productdetails_imagediv {
    display: flex;
    justify-content: center;
  }
}

.productdetails_textdiv_user {
  margin-top: 2rem;
}

.qty_plus,
.qty_minus {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: brown;
}

.productdetails_textdiv_user_quantity {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin-bottom: 1rem;
  align-items: center;
}

#dateStartEnd {
  max-width: 200px;
  margin-top: 10px;
}

.productdetails_textdiv_user_quantity_number {
  user-select: none;
}

.addtocart_button {
  margin-top: 2rem;
}

@media screen and (max-width: 430px) {
  .addtocart_btn_div {
    display: flex;
    justify-content: center;
  }
}
